<a href="https://colab.research.google.com/github/suraj3004200/data-science/blob/main/mean_absolute_deviation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from numpy import NaN
import pandas as pd
df=pd.DataFrame({"keyboards":[1200,1500,1700,1000,NaN],"Mouse":[500,700,1000,NaN,800],"UPS":[2000,5000,NaN,4500,3500],"Router":[1500,NaN,1200,1800,2000]},index=["Logitech","Corsair","Aourus","HP","DELL"])
df

          keyboards   Mouse     UPS  Router
Logitech     1200.0   500.0  2000.0  1500.0
Corsair      1500.0   700.0  5000.0     NaN
Aourus       1700.0  1000.0     NaN  1200.0
HP           1000.0     NaN  4500.0  1800.0
DELL            NaN   800.0  3500.0  2000.0

In [7]:
df.mad(axis=0,skipna=True)

keyboards     250.0
Mouse         150.0
UPS          1000.0
Router        275.0
dtype: float64

In [8]:
df.mad(axis=1,skipna=True)

Logitech     450.000000
Corsair     1733.333333
Aourus       266.666667
HP          1377.777778
DELL         933.333333
dtype: float64