<a href="https://colab.research.google.com/github/suraj3004200/data-science/blob/main/p_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
students=[["SURAJ",19,50],["ROHAN",20,102],["PRATHAM",20,70],["SARTHAK",21,65],["ABHISHEK",19,45]]
cols=["NAME","AGE","WEIGHT"]
df=pd.DataFrame(students,columns=cols)

In [2]:
print(df)

       NAME  AGE  WEIGHT
0     SURAJ   19      50
1     ROHAN   20     102
2   PRATHAM   20      70
3   SARTHAK   21      65
4  ABHISHEK   19      45

In [4]:
print(df[0:2])

    NAME  AGE  WEIGHT
0  SURAJ   19      50
1  ROHAN   20     102

In [5]:
print(df.head(2))

    NAME  AGE  WEIGHT
0  SURAJ   19      50
1  ROHAN   20     102

In [6]:
print(df.tail(2))

       NAME  AGE  WEIGHT
3   SARTHAK   21      65
4  ABHISHEK   19      45

In [7]:
print(df.iloc[2:5])

       NAME  AGE  WEIGHT
2   PRATHAM   20      70
3   SARTHAK   21      65
4  ABHISHEK   19      45