<a href="https://colab.research.google.com/github/suraj3004200/data-science/blob/main/stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
ecom_data={"pid":[101,102,103,104,105,106,107,108,109,110],"prod_name":["AC","fan","Books","LCD","TV","Monitor","UPS","Cookware","MIXER","Mobile"],"price":[3500,2000,230,15000,3000,12000,4000,500,700,35000]}
ecom_data

{'pid': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
 'prod_name': ['AC',
  'fan',
  'Books',
  'LCD',
  'TV',
  'Monitor',
  'UPS',
  'Cookware',
  'MIXER',
  'Mobile'],
 'price': [3500, 2000, 230, 15000, 3000, 12000, 4000, 500, 700, 35000]}

In [5]:
df=pd.DataFrame(ecom_data)
df

   pid prod_name  price
0  101        AC   3500
1  102       fan   2000
2  103     Books    230
3  104       LCD  15000
4  105        TV   3000
5  106   Monitor  12000
6  107       UPS   4000
7  108  Cookware    500
8  109     MIXER    700
9  110    Mobile  35000

In [6]:
df.mean()

<ipython-input-6-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

pid       105.5
price    7593.0
dtype: float64

In [10]:
df.median()

<ipython-input-10-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

pid       105.5
price    3250.0
dtype: float64

In [12]:
df["price"].mode()

0      230
1      500
2      700
3     2000
4     3000
5     3500
6     4000
7    12000
8    15000
9    35000
Name: price, dtype: int64

In [13]:
df["price"].max()

35000

In [14]:
df["price"].min()

230

In [15]:
df["price"].describe()

count       10.00000
mean      7593.00000
std      10850.02002
min        230.00000
25%       1025.00000
50%       3250.00000
75%      10000.00000
max      35000.00000
Name: price, dtype: float64

In [16]:
df["price"].std()

10850.02002046284

In [17]:
df["price"].var()

117722934.44444445